
body {
  margin: 0.0em;
  }
.innerbody {
  margin: 0.5em;
  }

h1 {
  padding: 0px;
  padding-left: 0.5em;
  margin: 0px;
  background-color: lightblue;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  }
h2,h3 {
  margin-bottom: 0.25em;
  }

.indent {
  padding-left:1em;
}

.menubar {
   background-color: lightgreen;
   border-bottom-style: solid;
   border-width: 2px;
   margin: 0px;
   padding:0px;
  }
.menubar li {
   list-style-type: none;
   display: inline;
   border-style: solid;
   border-width: 0px;
   border-right-width: 1px;
   border-left-width: 1px;
   padding: 0.05em;
   padding-left: 0.5em;
   padding-right: 0.5em;
  }


ul {
   margin-top: 0px;
  }
ul li ul li p {
   margin-top: 0; 
   padding-top: 0; 
   margin-left: 0em;
  }

.footer {
   border-top-style: groove;
   border-top-width: 2px;
   padding-top: 0.25em;
   padding-left: 1.5em;
   padding-bottom: 0.25em;
   font-size: small;
   }

